// Colors
$darkBlue: rgb(45, 49, 77);
$limeGreen: rgb(49, 211, 89);
$brightCyan: rgb(43, 183, 218);
$grayishBlue: rgb(150, 152, 166);
$lightGrayishBlue: rgb(243, 244, 246);
$veryLightGray: rgb(250, 250, 250);
$white: rgb(255, 255, 255);

// Font Sizes
$font-small: 0.875rem; // 14px
$font-med: 1.125rem; // 18px